.node {
  cursor: pointer;
}

.overlay{
    background-color:#EEE;
}
 
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
 
.node text {
  font-size:10px; 
  font-family:sans-serif;
}
 
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
     display: none;
}

.hidden {
        display: none;
}

div.node_tooltip {
    position: absolute;
    text-align: center;
    width: 180px;
    height: 80px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
}

div.node_tooltip a:link { color: #00c;
    text-decoration: underline;} /* unvisited links */
div.node_tooltip a:visited { color: #c00 }  /* visited links   */
div.node_tooltip a:hover   { color: #00c }  /* user hovers     */
div.node_tooltip a:active  { color: #ccc }  /* active links    */

.found {
    fill: #ff4136;
    stroke: #ff4136;
}

.search {
    float: left;
    font: 10px sans-serif;
    width: 30%;
}

ul.select2-results {
    max-height: 100px;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
    font: 10px sans-serif;
}

#block_container {
    display: inline;
}

